.nice-select {
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    border-bottom: 1px solid lightgray;
    box-sizing: border-box;
    /*clear: both;*/
    width: 100%;
    height: 100%;
    cursor: pointer;
    color: #666;
    font-family: PingFang SC;
    font-size: 1em;
    outline: none;
    padding-left: 0.6em;
    padding-right: 2.4em;
    position: relative;
    display: block;
    text-align: left !important;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}


/*.nice-select:hover {
        border-bottom: 1px solid #85C79C;
    }*/

.nice-select:active,
.nice-select.open,
.nice-select:focus {
    border-bottom: 1px solid #85C79C;
}

.nice-select:after {
    border-bottom: 1px solid #85C79C;
    border-right: 1px solid #85C79C;
    content: '';
    display: block;
    height: 5px;
    width: 5px;
    margin-top: -4px;
    pointer-events: none;
    position: absolute;
    right: 12px;
    top: 50%;
    -webkit-transform-origin: 66% 66%;
    -ms-transform-origin: 66% 66%;
    transform-origin: 66% 66%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}

.nice-select.open:after {
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.nice-select.open .list {
    opacity: 1;
    pointer-events: auto;
    width: 180px;
    box-shadow: 0 4px 16px -4px #999;
    -webkit-transform: scale(1) translateY(0);
    -ms-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
}

.nice-select.disabled {
    border-color: #ededed;
    color: #999;
    pointer-events: none;
}

.nice-select.disabled:after {
    border-color: #666;
}

.nice-select .list {
    background-color: white;
    /*box-shadow: 2px 2px 6px whitesmoke;*/
    box-sizing: border-box;
    margin-top: 4px;
    opacity: 0;
    overflow: auto;
    max-height: 180px;
    padding: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    z-index: 9;
}

.nice-select .list:hover .option:not(:hover) {
    background-color: transparent !important;
}

.nice-select .option {
    cursor: pointer;
    line-height: 32px;
    list-style: none;
    min-height: 32px;
    border-bottom: 1px solid whitesmoke;
    padding-left: 18px;
    padding-right: 30px;
    text-align: left;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.nice-select .option:hover,
.nice-select .option.focus,
.nice-select .option.selected.focus {
    background-color: rgba(245, 245, 245, 0.6);
}

.nice-select .option.selected {
    font-weight: bold;
    color: #85C79C;
}

.nice-select .option.disabled {
    background-color: transparent;
    color: #999;
    cursor: default;
}

.no-csspointerevents .nice-select .list {
    display: none;
}

.no-csspointerevents .nice-select.open .list {
    display: block;
}